@import "variables";
@import "globals";

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.5em;
}

h1 {
    margin: 1.5em 0 0 0;
    color:black;
    text-align: center;
}

.titleText {
    margin: 0 0 0.625rem 0;
}

img {
    object-fit: cover;
}

footer {
    color: rgb(170, 166, 166);
}

a, a:active, a:hover {
    text-decoration: none;
    color: black;
}

